!.gitignore

# Rider stuff (IDE)
/.idea
/.vscode
*.DotSettings.user


# build artifacts
/bin
/obj
**/bin
**/obj
/.vs
/log4net.config
/.build/*

/Library/*
/Temp/*
/Logs/*
appsettings.json

/calculator-4edba-firebase-adminsdk-moapb-660865b54a.json